* {
    margin: 0;
    padding: 0
}

body {
    background-color: #87c0b7;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.content {
    text-align: center;
    background-color: rgb(111, 175, 125);
    color: rgb(219, 215, 215);
    padding: 20px;
    font-family: Arial, sans-serif
}

.formulario {
    background-color: rgb(182, 100, 100);
    padding: 12px 20px 12px 40px;
    color: rgba(161, 185, 168, 0.651);
}

#busqueda {
    background-position: 10px 10px;
    width: 100%;
    font-size: 16px;
    color: #fff;
}